
  <h1>
    Welcome to your {{ title }}!
  </h1>
  <app-add-recipes></app-add-recipes>
  <h3>Recipes:</h3>

<div *ngIf="selectedRecipe">
  <ul *ngFor="let recipe of recipesList">
    <li (click)="onSelect()">{{recipe.title}}</li>
    <li>{{recipe.ingredients}}</li>
    <li>{{recipe.directions}}</li>
  </ul>
</div>
  <!-- <div *ngFor="let recipe of recipes">
    <h2>{{recipe.title}}</h2>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>
    <p>{{recipe.directions}}</p>
  </div> -->
