
<h1>
  Welcome to your {{ title }}!
</h1>
<div *ngIf="editVariable">
  <input [(ngModel)]="editVariable.title">
    <ul *ngFor="let ingredient of editVariable.ingredients;let index = index;trackBy:trackByIndex">
      <input [(ngModel)]="editVariable.ingredients[index]">
    </ul>
  <input [(ngModel)]="editVariable.directions">
  <button (click)="hideClick()" type="button" name="button">Done</button>
</div>
<h3>Recipes:</h3>

<ul *ngFor="let recipe of recipesList">
  <li (click)="onSelect(recipe)">{{recipe.title}}</li>
</ul>

<div *ngIf="selectedRecipe">
  <li>{{selectedRecipe.title}}</li>
  <ul>Ingredients:
    <li *ngFor="let ingredient of selectedRecipe.ingredients">{{ingredient}}</li>
  </ul>
  <li>{{selectedRecipe.directions}}</li>
  <button (click)="edit(selectedRecipe)" type="button" name="button">Edit</button>
  <button (click)="hide()" type="button" name="button">Hide</button>

</div>


<app-add-recipes [data]="dataVariable"></app-add-recipes>
